
body {
    font: 13px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #333;
    background-color: #fff;
}

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
    color: dimgray;
}

ol {
    margin-top: 0;
}

ul {
    margin-top: 0;
    list-style-type: square;
    margin-left: 20px;
    padding: 2px 4px;
}

li {
    padding: 2px 4px;
}

img {
    border: none;
}

h1 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
}

h2 {
    font-size: 16px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 3px;
}

h3 {
    font-size: 14px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
}

/* TABLES*/

table {
    border-collapse: collapse;
}

th, td {
    padding: 2px 8px 2px 0;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    border-bottom: 1px solid dimgray;
}

td {
    font-size: 13px;
}

/* CUSTOM */

.legends_current_dwarfobject {
    color: darkblue;
}

.legends_symbol_population {
    font-family: Arial;
    font-size: 14px;
    color: #000;
}

.legends_symbol_site {
    font-family: Arial;
    color: #333;
}

.legends_symbol_dead {
    font-family: Arial;
    color: #333;
}